.DS_Store
*.pyc
__pycache__/
miniconda3/
*.egg-info/
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
serviceAccountKey.json
firebase-adminsdk.json
firebase-adminsdk.log
firestore-debug.log
database-debug.log
functions/
Uploads/
weights/
*.bak
node_modules/
package-lock.json
package.json
echonet-dynamic.zip
output/
EchoNet-Dynamic/
